[Desktop Entry]
Name=Workspaces Button
Comment=Open the workspaces overview to manage and switch workspaces
Type=Application
Exec=Lingmo-panel-button com.lingmoos.LingmoWorkspaces
Terminal=false
Categories=Lingmo;
Keywords=Lingmo;Applet;Workspace;Overview;
Icon=com.lingmoos.LingmoPanelWorkspacesButton
StartupNotify=true
NoDisplay=true
X-LingmoApplet=true
X-OverflowPriority=10


