[Desktop Entry]
Name=Network
Comment=Manage network connections
Type=Application
Exec=Lingmo-applet-network
Terminal=false
Categories=Lingmo;
Keywords=Lingmo;Applet;Network;
Icon=com.lingmoos.LingmoAppletNetwork-symbolic
StartupNotify=true
NoDisplay=true
X-LingmoApplet=true
X-LingmoShrinkable=true
X-LingmoHoverPopup=Auto
X-OverflowPriority=10


