[Desktop Entry]
Name=Numbered Workspaces
Comment=Switch between numbered workspaces in the panel
Type=Application
Exec=Lingmo-applet-workspaces
Terminal=false
Categories=Lingmo;
Keywords=Lingmo;Applet;Workspace;
Icon=com.lingmoos.LingmoAppletWorkspaces
StartupNotify=true
NoDisplay=true
X-LingmoApplet=true
X-HostWaylandDisplay=true
X-OverflowPriority=5
X-OverflowMinSize=8


